# Imports & Loading dataset

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
df = pd.read_csv('rec.csv')
df.dropna(inplace=True)
df.head()

,Name,Composure,Strength,Reactions,ShortPassing,HeadingAccuracy,BallControl
0,A. Ábalos,71.0,37.0,51.0,74.0,32.0,72.0
1,A. Abang,45.0,74.0,56.0,52.0,67.0,59.0
2,A. Abdellaoui,51.0,65.0,52.0,53.0,56.0,47.0
3,A. Abdennour,75.0,83.0,67.0,58.0,74.0,51.0
4,A. Abdi,75.0,57.0,66.0,74.0,59.0,74.0

# Creating Pivot Table

In [3]:
pivot=df.pivot_table(columns='Name',values=[' Composure', ' Strength', 'Reactions', ' ShortPassing',
       ' HeadingAccuracy', ' BallControl'])
pivot

Name,A. Abang,A. Abdellaoui,A. Abdennour,A. Abdi,A. Abdu Jaber,A. Abdulhameed,A. Abedzadeh,A. Abeid,A. Ablet,A. Abrashi,...,Éverton Luiz,Ícaro,Íñigo López,Óliver Torres,Óscar,Óscar Gil,Óscar Pinchi,Óscar Plano,Óscar Valentín,Óscar Whalley
BallControl,59.0,47.0,51.0,74.0,59.0,13.0,15.0,62.0,64.0,63.0,...,66.0,56.0,55.0,82.0,74.0,50.0,70.0,73.0,68.0,18.0
Composure,45.0,51.0,75.0,75.0,49.0,34.0,34.0,49.0,62.0,58.0,...,67.0,58.0,61.0,82.0,68.0,45.0,63.0,69.0,60.0,51.0
HeadingAccuracy,67.0,56.0,74.0,59.0,61.0,13.0,13.0,58.0,49.0,38.0,...,56.0,62.0,78.0,52.0,42.0,50.0,44.0,46.0,60.0,13.0
ShortPassing,52.0,53.0,58.0,74.0,49.0,26.0,24.0,58.0,58.0,65.0,...,62.0,48.0,59.0,81.0,71.0,37.0,65.0,68.0,68.0,32.0
Strength,74.0,65.0,83.0,57.0,57.0,40.0,60.0,69.0,61.0,68.0,...,63.0,71.0,75.0,38.0,50.0,55.0,51.0,67.0,63.0,73.0
Reactions,56.0,52.0,67.0,66.0,60.0,48.0,68.0,67.0,60.0,68.0,...,68.0,64.0,60.0,78.0,68.0,54.0,62.0,68.0,63.0,57.0

# Finding correlated players in the data

In [4]:
#Selecting a random player
abang=pivot['A. Abang']

In [5]:
abang.head()

 BallControl        59.0
 Composure          45.0
 HeadingAccuracy    67.0
 ShortPassing       52.0
 Strength           74.0
Name: A. Abang, dtype: float64

In [6]:
similar_to_abang=pivot.corrwith(abang)

In [7]:
corr_abang=pd.DataFrame(similar_to_abang,columns=['corr'])

In [8]:
corr_abang.head()
corr_abang.sort_values('corr',ascending=False).head(30)

                     corr
Name
A. Abang         1.000000
A. Grbic         0.995696
T. Sandoval      0.994255
Emidio Hoffman   0.993842
R. Godínez       0.988540
S. Çikalleshi    0.988136
Lu Wenjun        0.987323
B. Gschweidl     0.986881
C. Wyke          0.986278
Zhang Chengdong  0.985863
De Tomás         0.984462
M. Pulkrab       0.983631
S. Privat        0.983613
A. Tideman       0.982762
F. Monteseirín   0.982540
B. Hansen        0.982031
J. Serra         0.981952
Jorge Fernandes  0.981179
Kang Min Soo     0.980892
W. Dammers       0.980840
J. Sills         0.979765
K. Moore         0.979339
J. Stockley      0.979034
R. Hollingshead  0.978878
A. Erlingmark    0.978658
K. Çelik         0.978651
M. Krmenčík      0.978357
F. Aristeguieta  0.977349
K. Lynch         0.977021
D. McMillan      0.977015